spam.date {
    color: #333;
    font-size: 0.8em;
    font-family: roboto;
}


.sidebar-menu li:before {
    content: none;
}

.sidebar-heading a {
    color: #219653;
    letter-spacing: none;
}

.sidebar-heading {
	font-family: 'Montserrat';
	font-size: 1.2em;
	font-weight: bold;
}

.sidebar-menu li a {
    color: #555555;
    font-size: 1.2em;
    font-weight: bold;
}


/* cards */
.box-masonry {
    border-top: 3px solid #000;
    border-bottom: 1px solid #ccc;
    box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12), 1px 0 2px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
}


