<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="masonry-grid">
          {{ range .Paginator.Pages }}
              <div class="box-item">
                  <div class="box-masonry box-border">
                      {{ if and (isset .Params "image") .Params.image }}
                        {{ if eq .Params.showonlyimage true }}
                        <a href="{{ .Permalink }}" title="" class="with-hover-overlay">
                        {{ else }}
                        <a href="{{ .Permalink }}" title="" class="with-hover-overlay">
                        {{ end }}
                            <img src="{{.Params.image | absURL}}" alt="" class="img-fluid box-masonry-image with-hover-overlay">
                        </a>
                      {{ end }}
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-text">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                            <div class="tags-mono">
                            {{ range first 1 .Params.tags }}
                            <h5 class="tag-mono">{{ . }}</h5>
                            {{ end }}
                          <!-- tags start
                          <div class="tags-mono">
                            {{ range .Params.tags }}
                            <h5 class="tag-mono">{{ . }}</h5>
                            {{ end }}
                            </div>
                           tags end-->
                          <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                          {{ if in .Params.tags "noticias" }}
                          <spam class="date">{{ dateFormat "Feb 2, 2006" .Lastmod }}</spam>
                            {{ else }}
                          {{ end }}
                      </div>
                  </div>
                </div>
          {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
</div>