<!-- 
6 - Navbar with brand left, links left and right, toggler right
    The links collapse into the mobile menu
-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand mx-auto lg-navbar" href="/tags/transporte/">{{ $.Site.Title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar6">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar6">
        <ul class="navbar-nav ml-auto">
             {{ range .Site.Params.navlinks }}
            <li class="nav-item">
                <a class="nav-link lg-nav-link" href="{{ absURL .url }}">{{ .name }}</a>
            </li>
            {{ end }}
            <li>
            <div class="duckduckgo nav navbar-nav ml-auto">
                        <iframe src="https://duckduckgo.com/search.html?site=internationalcommercialterms.guru&prefill=Search" style="overflow:hidden;margin:0;padding:0;width:200px;height:40px;" frameborder="0"></iframe>
            </div>
            </li>
        </ul>
    </div>
</nav>
