<script src="{{ "js/jquery/jquery.min.js" | absURL }}"></script>
<script src="{{ "js/popper.js/popper.js" | absURL }}"></script>
<script src="{{ "js/bootstrap/js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.cookie/jquery.cookie.js" | absURL }}"> </script>
<script src="{{ "js/owl.carousel/owl.carousel.min.js" | absURL }}"></script>
<script src="{{ "js/masonry-layout/masonry.pkgd.min.js" | absURL }}"></script>
<script src="{{ "js/front.js" | absURL }}"></script>

{{ if .Site.Params.analytics.matomo }}
  {{ partial "_analytics/matomo.html" . }}
{{ end }}
